* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow";
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: #242424;
  color: #fff;
}

p {
  font-size: 1.2rem;
}
